version: '2'
services:
  golismero:
    container_name: 'golismero'
    restart: never
    tty: true
    image: pebbletech/golismero
    depends_on:
      - openvas
      - spiderfoot
    links:
      - "openvas:openvas"
      - "spiderfoot:spiderfoot"
    volumes:
      - $GOLISMERO_RESULTS_DIR:/opt/golismero/results
    entrypoint: "run.sh scan $TARGET \
                   -db /opt/golismero/results/database.db \
                   -o /opt/golismero/results/results.csv \
                   -o /opt/golismero/results/index.html \
                   $GOLISMERO_ARGS"
    env_file: .env
  openvas:
    container_name: 'openvas'
    restart: always
    image: pebbletech/openvas
    depends_on:
      - openvas-redis
    links:
      - "openvas-redis:redis"
    environment:
      - "HTTP_ONLY=true"
    expose:
      - "9390/tcp"
      - "9391/tcp"
      - "9392/tcp"
  openvas-redis:
    container_name: 'openvas_redis'
    image: redis
  spiderfoot:
    container_name: 'spiderfoot'
    restart: always
    image: pebbletech/spiderfoot
    environment:
      - "HTTP_ONLY=true"
  nginx:
    container_name: 'nginx'
    image: nginx:latest
    volumes:
      - $GOLISMERO_RESULTS_DIR:/usr/share/nginx/html
  oauth2_proxy:
    container_name: 'oauth2_proxy'
    image: a5huynh/oauth2_proxy
    command: "--cookie-secure=false \
              --upstream='http://nginx:80' \
              --http-address='0.0.0.0:80' \
              --redirect-url=\"https://$VIRTUAL_HOST/oauth2/callback\" \
              --email-domain=\"$OAUTH2_PROXY_EMAIL_DOMAIN\""
    depends_on:
      - "nginx"
    links:
      - "nginx:nginx"
    env_file: .env
    ports:
      - "80:80"
    depends_on:
      - nginx
